
<nav id="nav">
    <ul>
        <li class="special">
            <a href="#menu" class="menuToggle"><span>Menu</span></a>
            <div id="menu">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="software.html">Software</a></li>
                    <li><a href="cv.html">CV</a></li>
                    <li><a href="fencing.html">Fencing</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
