<!DOCTYPE HTML>
<html>
	<head>
		{% include head.html %}
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">
				<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">Jose Narvaez</a></h1>
				
					{% include nav.html %}
				</header>
    
				{{content}}

				<!-- Footer -->
				<footer id="footer">
						{% include footer.html %}
					
				</footer>

			</div>

        <!-- Scripts -->
        {% include jsLinks.html %}
			
	</body>
</html>